section{
	margin-top: 1%;
	border: 10px double green;
}
#text{
	padding: 10px;
	background-color: #fff;
}
#esquema2{
	margin-left: 25%;
}
#descripcion{
	font-size: 15px;
	width: 20%;
	float: right;
}
#logos{
	float: right;
	margin: 10px;
}