
body{
	
	background-size: contain;
	
	font-family:  'Do Hyeon', Serif;

}

.main ul li{
	list-style: none;
	border:1px solid green;
	border-radius: 5px;
	margin-top: 5px;
	background-color:  #24b738;

}

.main li a{
    text-decoration:none;
    display:inline-block;
    font-family: 'Do Hyeon', sans-serif;
    color: #000;

    }

.main ul>li>p{
	font-family: 'Do Hyeon', sans-serif;
	color: #a6a6a6;
	text-align: center;
	text-decoration:none;
}

.navbar-light {
    background-color: #24b738;
}

.navbar-light li:hover {
    background-color: #72e582;
}

#textColorMenu{
 	color: black;
}
       
.main li:hover{
	display:block;
	background-color: #72e582;
}
content{
	
	border:10px ridge #fff;
	
}

footer {
	background-color: #24b738;
	background-image: url("../images/footer2.png");

}

#footerText{
	font-size: 100%;
}

/*footer>img{
	float: right;
	margin-top: 140px;
	margin-left: 10px;
}*/

#imagMain{
	margin-left: 25%;
	margin-top: 20px;
	width: 50%;
	margin-right: 0;
	padding-right: 0;
}

input{
	margin: 2px;
	border-radius: 6px;
}
#rrss{
	width: 25%;
	margin: 29px 5px 5px 5px;
}

#accesoIcono{
	width: 30%;
}
