
body{
	background-image: url("../images/bosquen.jpg");
	background-size: contain;
	background-color: #f5f9f4;
	font-family:  'Do Hyeon', Serif;
	background-repeat: no-repeat;
	background-size: cover;
}
@media screen and (max-width: 400px){
body{
font-size:10px;
}
}

.main ul li{
	list-style: none;
	border:1px solid green;
	border-radius: 5px;
	margin-top: 5px;
	background-color:  #24b738;

}

.main li a{
    text-decoration:none;
    display:inline-block;
    font-family: 'Do Hyeon', sans-serif;
    color: #000;

}

.navbar-light {
    background-color: #24b738;
}

.navbar-light li:hover {
    background-color: #72e582;
}

#textColorMenu{
 	color: black;
}
       
.main li:hover{
	display:block;
	background-color: #72e582;
}
#noticias{
	border: 1px solid grey;
	
}

footer {
	background-color: #24b738;
	background-image: url("../images/footer2.png");

}

#footerText{
	font-size: 100%;
}

/*footer>img{
	float: right;
	margin-top: 140px;
	margin-left: 10px;
}*/

#imagMain{
	width: 100%;
	height: auto;
}

input{
	margin: 2px;
	border-radius: 6px;
}
#rrss{
	width: 25%;
	margin: 29px 5px 5px 5px;
}

#accesoIcono{
	width: 30%;
}
